<div class="">
    <div class="footer bg-primary text-white d-flex flex-row justify-content-evenly align-items-start"> 
        <div class="d-flex flex-column align-items-around justify-content-center">
            <p>Copyright © 1995-2022 Last Pages S.A.</p>
            <p>TODOS LOS DERECHOS RESERVADOS.</p>
        </div>
        <h2 class="navbar-brand" href="/">LAST <i class="bi bi-book-half"> PAGES</i></h2>
    </div>
    <div class="bg-primary images text-center">
        <img src="images/imagenesFooter/footer_mpago.png" alt="mercadoPago">
        <img src="images/imagenesFooter/footer_e-posnet.png" alt="">
        <img src="images/imagenesFooter/sectigo_trust_seal_md_2x.png" alt="">
        <img src="images/imagenesFooter/dataweb.jpg" alt="" id="dataWeb">
    </div>
</div>

