<div class="container-card">
    <img src="<%e.imagen%>" alt="<%=e.nombre%>">
    <div class="card-body">
        <h3><%=e.nombre%></h3>
        <h5><%=e.autor%></h5>
        <h2><%=e.precio%></h2>
    </div>
</div>