input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type=number] { -moz-appearance:textfield; }

.invalid {
  color: rgb(231, 76, 60);
}

.navbar {
  position: sticky;
  top: 0px;
  z-index: 3000;
}

.product-container{
  margin: 0px auto;
  width: 1300px;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

.container-card{
  width: 300px;
  height: 520px;
  border-radius: 6px;
  box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
  overflow: hidden;
  cursor: default;
  transition: all 400ms ease;
  margin-bottom: 40px;
}

.container-card:hover{
  box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
  transform: translateY(-3%)
}

.container-card > a > img {
  width: 100%;
  height: 400px;
}

.card-body{
 padding: 5px 10px;
}

.card-body > p {
  margin-bottom: 3px;
}

.p-autor {
  color: #ababab;
}

.p-precio{
color: #13967d;
font-size: 1.1em;
}

.aCart{
 font-size: 10px;
 color: black;
 position: relative;
 right: 15px;
}

.bi-cart-fill{
  font-size: 20px;
  line-height: 16px;
  color:white;
}

.bi-cart-fill:hover{
  cursor: pointer;
}

.spacingIndexView{
  width: 100%;
  height: 80vh;
}

.footer{
  width: 100%;
  height: 200px;
  padding: 40px 0px;
}

.footer > div {
  width: 320px;
}

.footer > h2 {
  font-size: 50px;
}

#dataWeb{
  width: 80px;
  height: 90px;
}

.images > img{
  margin-right: 80px;
}
